{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{% static 'blog/style.css' %}"/>
        <title>Archive</title>
    </head>

    <body>

        <h1>
            Archive
        </h1>

        <ul class="list">
            <li><a href="/blog">Blog Section</a></li>
            <li><a href="">Archive Section</a></li>
            <li><a href="/blog/about">About Section</a></li>
            <li><a href="/blog/techtips-css/">Techtips - CSS</a></li>
            <li><a href="/blog/techtips+css/">Techtips + CSS</a></li>
            <li><a href="/blog/plan/">Plan</a></li>
        </ul>

        <p>The current time is {{now}}</p>

        {% for blogPost in newBlogList %}
        <div style="background-color: lightgreen">
            <h2><a href="/blog/entry/{{blogPost.id}}">{{blogPost.title}}</a> ({{commentsList | length}} Comments) </h2>
            <h3>{{blogPost.author}} </h3>
            <p>{{blogPost.content|truncatewords:100}}</p>
        </div>
        {% endfor %}

    </body>
</html>